@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');
*{margin:0;padding:0;box-sizing:border-box}
ol,ul{list-style:none}
a{text-decoration:none;color:inherit}
html{ scroll-behavior: smooth;}
/* .posNum {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 50px;
    background: #111;
    color: #fff;
    font: 700 20px/50px "arial";
    text-align: center;
    z-index: 999999;
} */
html::-webkit-scrollbar {width: 6px;}
html::-webkit-scrollbar-track {background: transparent}
html::-webkit-scrollbar-thumb {background: red;border-radius: 25px;}
::selection {background: #f00;color: #fff;}


body {
    width: 100%;
    overflow-x: hidden;
    background: black;
    font-family: 'marvel', sans-serif;
    color: white;
}
.main {
    height: 3193px;
    overflow: hidden;
    position: relative;
}
#mask {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    /*display: none;*/
}
#mask .circle {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 150PX;
    z-index: 1;
    clip-path: circle(0% at 50% 50%);
}
#mask .circle img {
    position: relative;
    top: -300px;
    left:50%;
    transform:translateX(-50%);
}
#mask .intro{
    width:150px;
    height:150px;
    filter: blur(3px) brightness(160%);
    position:absolute;
    left:45%;
    top:72%;
    opacity:0;
    animation: intro 2s 0.5s 2 alternate;
}
@keyframes intro {
    0%{opacity:0;}
    50%{opacity:1;}
    80%{opacity: 0;}
    100%{opacity:0;}
}
header {
    position: sticky;
    top: 0;
    z-index: 15;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 img {
    width: 200px;
}
.gnb ul {
    display: flex;
}
.gnb ul li {
    font-weight: 700;
    font-size: 30px;
    opacity: 0.8;
}
.gnb ul li:nth-of-type(2) {
    margin: 0 50px;
}
.gnb ul li:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.1s;
}
.gnb ul li.on{
    opacity: 1;
    transform: scale(1.1);
}
.characters {
    height: 900px;
    padding-top: 100px;
}
.char_slide {
    height: 650px;
    margin: 0 auto;
    position: relative;
}
.char_slide .swiper-wrapper .swiper-slide img {
    height: 360px;
    position: relative;
    transition: 0.3s;
    filter: blur(10px);
    opacity: 0.5;
}
.char_slide .swiper-wrapper .swiper-slide.swiper-slide-active img {
    height: 550px;
    filter: blur(0);
    opacity: 1;
}
.char_slide .swiper-wrapper .swiper-slide.swiper-slide-prev img {
    height: 470px;
    filter: blur(5px);
    opacity: 0.7;
}
.char_slide .swiper-wrapper .swiper-slide.swiper-slide-next img {
    height: 470px;
    filter: blur(5px);
    opacity: 0.7;
}
.char_slide .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.char_slide .lightening {
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translate(-50%, 0);
}
.char_slide .lightening img {
    height: 600px;
}
.char_slide .swiper-button-prev,
.char_slide .swiper-button-next {
    color: white;
    transition:0.5s
}
.char_slide .swiper-button-prev:hover,
.char_slide .swiper-button-next:hover {
    color: red;
}
.char_slide .swiper-pagination {
    position: absolute;
    left: 50%;
    top: 750px;
    transform: translate(-50%, 0);
}
.char_slide .swiper-pagination span.swiper-pagination-bullet {
    background: lightgray;
}
.char_slide .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: red;
}
.movies{
    height: 1000px;
    padding-top: 120px;
    position:relative;
}
.movies .list {
    height: 859px;
    position: relative;
}
.movies .list ul li {
    width: 250px;
    height: 600px;
    position: absolute;
    top: 0;
    transition: all 1s;
    cursor: pointer;
    overflow: hidden;
}
.movies .list ul li.on {
    width: 100%;
    height: 100%;
    left: 0!important;
    top: 0!important;
    cursor: default;
}
.movies .list ul li.z{
    z-index: 1;
}
.movies .list ul li:nth-of-type(1) {
    top: 0;
    left: 160px;
    /*background: url("../img/wallpaper1.png") no-repeat center / 1920px 859px;*/
}
.movies .list ul li:nth-of-type(2) {
    top: 30px;
    left: 430px;
    /*background: url("../img/wallpaper2.png") no-repeat center / 1920px 859px;*/
}
.movies .list ul li:nth-of-type(3) {
    top: 60px;
    left: 700px;
    /*background: url("../img/wallpaper3.png") no-repeat center / 1920px 859px;*/
}
.movies .list ul li:nth-of-type(4) {
    top: 0;
    left: 970px;
    /*background: url("../img/wallpaper4.png") no-repeat center / 1920px 859px;*/
}
.movies .list ul li:nth-of-type(5) {
    top: 30px;
    left: 1240px;
    /*background: url("../img/wallpaper5.png") no-repeat center / 1920px 859px;*/
}
.movies .list ul li:nth-of-type(6) {
    top: 60px;
    left: 1510px;
    /* background:url("../img/wallpaper6.png") no-repeat center / 1920px 859px; */
}
.movies .list ul li .wallpaper img{
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-58%, 0);
    transition: 0.35s;
}

.movies .list ul .movie2 .wallpaper img {transform: translate(-58%, 0);}
.movies .list ul .movie3 .wallpaper img {transform: translate(-50%, 0);}
.movies .list ul .movie4 .wallpaper img {transform: translate(-45%, 0);}
.movies .list ul .movie5 .wallpaper img {transform: translate(-50%, 0);}
.movies .list ul .movie6 .wallpaper img {transform: translate(-45%, 0);}

.movies .list ul .movie1:hover .wallpaper img {transform: translate(-58%, 0) scale(1.2);}
.movies .list ul .movie2:hover .wallpaper img {transform: translate(-58%, 0) scale(1.2);}
.movies .list ul .movie3:hover .wallpaper img {transform: translate(-50%, 0) scale(1.2);}
.movies .list ul .movie4:hover .wallpaper img {transform: translate(-45%, 0) scale(1.2);}
.movies .list ul .movie5:hover .wallpaper img {transform: translate(-50%, 0) scale(1.2);}
.movies .list ul .movie6:hover .wallpaper img {transform: translate(-45%, 0) scale(1.2);}

.container .movies .list ul li.on .wallpaper img {
    transform: translate(-50%, 0) scale(1);
}
.movies .list ul li.on .logo img {
    width: 340px;
    position: absolute;
    left: 340px;
    top: 220px;
    transition: 0.1s;
}
.movies .list ul li.on .year {
    font-size: 30px;
    position: absolute;
    left: 700px;
    top: 200px;
    transition: 0.1s;
}
.movies .list ul .movie2 .year{
    color: black;
}
.movies .list ul li .title {
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.movies .list ul li.on .title{
    display: none;
}
.movies .close{
    position: absolute;
    right: 30px;
    top: 150px;
    transform: scale(0);
    transition: 0.2s;
    z-index: 102;
    cursor: pointer;
}
.movies .close.on{
    transform: scale(1);
}
.movies .list .watch{
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    left: 340px;
    bottom: 150px;
    opacity: 0;
    z-index: 1;
}
.movies .list .watch.on{
    opacity: 1;
    transition: 0.2s;
}
.movies .list ul li .target{
    position: absolute;
    left: 460px;
    bottom: 110px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.movies .list ul li .target img{
    transition:0.3s;
    transform:scale(1);
}
.movies .list ul li .target.on{
    opacity: 1;
    transition: 0.2s;
}
.movies .list ul li .target:hover img{
    transform:scale(1.1);
    transition: 0.2s;
}
.movies .gallery{
    width:100%;
    height: 100vh;
    background:#000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 101;
    display: none;
}
.movies .gallery ul{}
.movies .gallery ul li {
    position: absolute;
    opacity:0;
    transition: opacity 0.35s;
}
.movies .gallery ul li.on{opacity: 1;}
.movies .gallery ul li:nth-of-type(1).on{transition-delay:0.4s}
.movies .gallery ul li:nth-of-type(2).on{transition-delay:0.5s}
.movies .gallery ul li:nth-of-type(3).on{transition-delay:0.6s}
.movies .gallery ul li:nth-of-type(4).on{transition-delay:0.7s}
.movies .gallery ul li:nth-of-type(5).on{transition-delay:0.8s}
.movies .gallery ul li:nth-of-type(6).on{transition-delay:0.9s}

.movies .gallery ul li:nth-of-type(1) {
    left: -80px;
    top: 150px;
}
.movies .gallery ul li:nth-of-type(2) {
    left: 270px;
    top: 150px;
}
.movies .gallery ul li:nth-of-type(3) {
    left: 170px;
    top: 600px;
}
.movies .gallery ul li:nth-of-type(4) {
    left: 1050px;
    top: 200px;
}
.movies .gallery ul li:nth-of-type(5) {
    left: 900px;
    top: 550px;
}
.movies .gallery ul li:nth-of-type(6) {
    right: -100px;
    bottom: 100px;
}
.movies .gallery h2 {
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    left: 800px;
    top: 250px;
    z-index: 101;
}
.movies .gallery .close{
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 101;
    display: none;
    cursor: pointer;
}
.music{
    height:1083px;
    background: url(../img/playlist.png) no-repeat 100px center / 1920px 1083px;
    position:relative;
}
.music .playlist{
    font-size: 180px;
    font-weight: 700;
    line-height: 0.8;
    color: rgb(112, 234, 255);
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
}
.music .btn{
    position: absolute;
    top: 65%;
    cursor: pointer;
    left:160px;
}
.music .btn img{
    width: 60px;
    opacity: 0.6;
}
.music .btn img:hover{
    opacity: 1;
}
.music .btn img:first-child{
    margin-right: 10px;
}
.music .btn img.on{
    opacity: 1;
}
.music .heart{
    position: absolute;
    right: 440px;
    top: 50%;
    transform: translateY(-50%);
}
.music .acro{
    
}
.music .acro.on{
    animation: rotation 3s infinite linear;
}
.music .acro.pa{
    animation-play-state: paused;
}
@keyframes rotation{
    0% {transform: translateY(-50%) rotate(0deg);}
    100% {transform: translateY(-50%) rotate(360deg);}
}
.comment{
    height:100vh;
    position:relative;
    overflow:hidden;
}
.comment > article{
    width:100%;
    height:100vh;
    position:absolute;
    left:0;
    font-size: 150px;
    font-weight: 700;
    line-height:1.7;
    overflow:hidden;
}
.comment .white{
    color: black;
    background: white;
    top:0;
}
.comment .black{
    background: black;
    top:100vh;
}
.comment .black p{
    position:relative;
    top:-100vh;
}
.comment article p{
    padding:100px;
}
.comment article span{
    color: red;
}
footer{
    text-align: center;
}
footer p{
    padding: 300px 0 10px 0;
    font-size: 35px;
    font-weight: 700;
}
footer .sns{
    margin: 10px 100px 0 100px;
    border-bottom:1px solid #777;
}
footer .sns li{
    display: inline-block;
    font-size: 0;
    margin-bottom: 100px;
    opacity: 0.7;
}
footer .sns li:nth-of-type(2){
    margin:0 10px;
}
footer .sns li:hover{
    opacity: 1;
    transform: scale(1.05);
}
footer .sns li img{
    width: 45px;
}
footer .last{
    margin: 30px 100px;
    display: flex;
    justify-content: space-between;
}
footer .last .copy{
    font-size: 20px;
    font-weight: 400;
}















